<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/snippet.css">
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <%- messages('flash_messages', locals) %>
        <div class="grid">
            <article class="card">
                <div class="card_content">
                    <h1 class="snippet_title"><%= snippet.title %></h1>
                    <hr>
                    <p class="snippet_text">
                        <pre><code><%= snippet.snippet %></code></pre>
                    </p>
                    <p class="snippet_description"><%= snippet.description %></p>
                    <hr>
                    <p class="snippet_username">Added by: <%= snippet.username %></p>
                    <p class="snippet_date">Date added: <%= created %></p>
                    <div class="card_actions">
                        <% if (authenticated && user === snippet.username) { %>
                        <a href="/edit_snippet/<%= snippet._id %>" class="btn success">Edit Snippet</a>
                        <form action="/delete_snippet" method="POST">
                            <input type="hidden" value="<%= snippet._id %>" name="snippetId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn danger" type="submit">Delete Snippet</button>
                        </form>
                        <% } %>
                        <a href="/snippets" class="btn">Back to Overview</a>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <%- include('partials/closer.ejs') %>